/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte */
body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Header */
.header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* Nav */
.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-right: 20px;
}

.nav__item:last-child {
  margin-right: 0;
}

/* Links */
.nav__link {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #333;
  padding: 0;
  text-align: center;
  position: relative;
}

.nav__link:hover {
  color: #00aeef;
}

/* Link ativo */
.nav__link.is-active {
  color: #00aeef;
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00aeef;
}
