body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.roboto-roman {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav__item, .nav__link {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14;
  padding:  0;
  text-align: center;
  position: relative;
}

.nav__link:hover {
  color: #00aeef;
}

.nav__link.is-active {
  color: #00aeef;
}

.nav__link.is-active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #00aeef;
}
